<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="commonMapper">
  
  <!-- insert Err Log -->
  <select id="insertErr" parameterType="Map" resultType="HashMap"> 
      INSERT INTO err_log
      (
        create_date, create_by, log_content
      )
      VALUES(
        now(), #{pUserId}, #{errcon}
      );
  </select>
  
</mapper>